<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('partials/head'); %>
  </head>
  <body style="background-color:rgba(0, 195, 202, 0.918);">
   <%- include('partials/navbar'); %>

   <div class="jumbotron">  
    
     <h1 class="display-4">Bienvenido al Mejor Sitio del Universo</h1>
     <p class="lead">Comienza la aventura</p>
      
     <hr class="my-4">
     <p>Este es el sitio de Adrian Eduardo Villanueva para la clase de Aplicaciones orientadas al servicio.</p>
     
     <div>
     <%- include('partials/slider'); %>
    </div>
     <div>
     <%- include('partials/acordeon'); %>
     </div>
   </div>
 
   <%- include('partials/script'); %>
   <foote>
     <%- include('partials/footer'); %>
   </foote>
   
  </body>
</html>